USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 4/6/2020 5:30:24 PM ******/
CREATE DATABASE [QuanLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[ChungThucTra]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungThucTra](
	[ID] [int] NOT NULL,
	[IdPhieuMuon] [varchar](255) NOT NULL,
	[SoCaBiet] [int] NOT NULL,
	[NgayTra] [date] NULL,
	[DaTra] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DauSach]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DauSach](
	[MaSach] [varchar](255) NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[NamXuatBan] [int] NOT NULL,
	[MaTacGia] [varchar](255) NULL,
	[MaTheLoai] [varchar](255) NULL,
	[MaNXB] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[IdDocGia] [varchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[TenDocGia] [nvarchar](255) NOT NULL,
	[SDT] [varchar](255) NOT NULL,
	[SoThe] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IDNhanVien] [varchar](255) NOT NULL,
	[TenNhanVien] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MaNXB] [varchar](255) NOT NULL,
	[TenNXB] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[IdPhieuMuon] [varchar](255) NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[IdNhanVien] [varchar](255) NOT NULL,
	[SoThe] [varchar](255) NOT NULL,
	[NgayHenTra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[SoCaBiet] [int] NOT NULL,
	[MaSach] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoCaBiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[TenTacGia] [nvarchar](255) NOT NULL,
	[MaTacGia] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [varchar](255) NOT NULL,
	[TenTheLoai] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheThuVien]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheThuVien](
	[ID_The] [varchar](255) NOT NULL,
	[NgayTaoThe] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
	[IDNhanVien] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_The] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/6/2020 5:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChungThucTra] ([ID], [IdPhieuMuon], [SoCaBiet], [NgayTra], [DaTra]) VALUES (1, N'PM01', 1, NULL, 0)
INSERT [dbo].[ChungThucTra] ([ID], [IdPhieuMuon], [SoCaBiet], [NgayTra], [DaTra]) VALUES (2, N'PM01', 4, NULL, 0)
INSERT [dbo].[ChungThucTra] ([ID], [IdPhieuMuon], [SoCaBiet], [NgayTra], [DaTra]) VALUES (3, N'PM01', 13, NULL, 0)
INSERT [dbo].[DauSach] ([MaSach], [TenSach], [NamXuatBan], [MaTacGia], [MaTheLoai], [MaNXB]) VALUES (N'MS01', N'Sự kết thúc của thời đại giả kim', 2010, N'TG01', N'TL12', N'NXB06')
INSERT [dbo].[DauSach] ([MaSach], [TenSach], [NamXuatBan], [MaTacGia], [MaTheLoai], [MaNXB]) VALUES (N'MS02', N'Nhà giả kim', 2012, N'TG04', N'TL07', N'NXB03')
INSERT [dbo].[DauSach] ([MaSach], [TenSach], [NamXuatBan], [MaTacGia], [MaTheLoai], [MaNXB]) VALUES (N'MS03', N'Đắc nhân tâm', 2011, N'TG02', N'TL10', N'NXB07')
INSERT [dbo].[DocGia] ([IdDocGia], [DiaChi], [TenDocGia], [SDT], [SoThe]) VALUES (N'DG01', N'Hà Nội', N'Nguyễn Nam Trường', N'0375860699', N'17150204')
INSERT [dbo].[DocGia] ([IdDocGia], [DiaChi], [TenDocGia], [SDT], [SoThe]) VALUES (N'DG02', N'Hải Phòng', N'Nguyễn Tư Tỉnh', N'0885123456', N'17150205')
INSERT [dbo].[DocGia] ([IdDocGia], [DiaChi], [TenDocGia], [SDT], [SoThe]) VALUES (N'DG03', N'Nha Trang', N'Nguyện Yêu Em', N'0944224906', N'17150206')
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNhanVien]) VALUES (N'NV01', N'Nguyễn Nam Trường')
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNhanVien]) VALUES (N'NV02', N'Bùi Văn Nguyện')
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNhanVien]) VALUES (N'NV03', N'Huỳnh Phước Sang')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB]) VALUES (N'NXB01', N'Nhà xuất bản Chính trị Quốc gia')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB]) VALUES (N'NXB02', N'Nhà xuất bản Tư pháp')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB]) VALUES (N'NXB03', N'Nhà xuất bản Hồng Đức')
INSERT [dbo].[PhieuMuon] ([IdPhieuMuon], [NgayMuon], [IdNhanVien], [SoThe], [NgayHenTra]) VALUES (N'PM01', CAST(N'2020-03-18' AS Date), N'NV01', N'17150204', CAST(N'2020-03-30' AS Date))
INSERT [dbo].[PhieuMuon] ([IdPhieuMuon], [NgayMuon], [IdNhanVien], [SoThe], [NgayHenTra]) VALUES (N'PM02', CAST(N'2020-03-26' AS Date), N'NV02', N'17150205', CAST(N'2020-04-01' AS Date))
INSERT [dbo].[PhieuMuon] ([IdPhieuMuon], [NgayMuon], [IdNhanVien], [SoThe], [NgayHenTra]) VALUES (N'PM03', CAST(N'2020-03-20' AS Date), N'NV03', N'17150206', CAST(N'2020-03-30' AS Date))
INSERT [dbo].[Sach] ([SoCaBiet], [MaSach]) VALUES (1, N'MS01')
INSERT [dbo].[Sach] ([SoCaBiet], [MaSach]) VALUES (2, N'MS01')
INSERT [dbo].[Sach] ([SoCaBiet], [MaSach]) VALUES (3, N'MS01')
INSERT [dbo].[TacGia] ([TenTacGia], [MaTacGia]) VALUES (N'Nguyễn Nam Trường', N'TG01')
INSERT [dbo].[TacGia] ([TenTacGia], [MaTacGia]) VALUES (N'Nguyễn Hải Đăng', N'TG02')
INSERT [dbo].[TacGia] ([TenTacGia], [MaTacGia]) VALUES (N'Nguyễn Bùi Chung Quân', N'TG03')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL01', N'Kinh dị')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL02', N'Hài hước')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL03', N'Hành động')
INSERT [dbo].[TheThuVien] ([ID_The], [NgayTaoThe], [NgayHetHan], [IDNhanVien]) VALUES (N'17150204', CAST(N'2020-03-24' AS Date), CAST(N'2020-08-14' AS Date), N'NV01')
INSERT [dbo].[TheThuVien] ([ID_The], [NgayTaoThe], [NgayHetHan], [IDNhanVien]) VALUES (N'17150205', CAST(N'2020-03-24' AS Date), CAST(N'2020-07-09' AS Date), N'NV02')
INSERT [dbo].[TheThuVien] ([ID_The], [NgayTaoThe], [NgayHetHan], [IDNhanVien]) VALUES (N'17150206', CAST(N'2020-03-24' AS Date), CAST(N'2020-10-29' AS Date), N'NV03')
INSERT [dbo].[User] ([username], [password]) VALUES (N'123', N'123')
INSERT [dbo].[User] ([username], [password]) VALUES (N'12345', N'12345')
ALTER TABLE [dbo].[ChungThucTra]  WITH CHECK ADD  CONSTRAINT [FK_IDPhieuMuon] FOREIGN KEY([IdPhieuMuon])
REFERENCES [dbo].[PhieuMuon] ([IdPhieuMuon])
GO
ALTER TABLE [dbo].[ChungThucTra] CHECK CONSTRAINT [FK_IDPhieuMuon]
GO
ALTER TABLE [dbo].[ChungThucTra]  WITH CHECK ADD  CONSTRAINT [FK_SoCaBiet] FOREIGN KEY([SoCaBiet])
REFERENCES [dbo].[Sach] ([SoCaBiet])
GO
ALTER TABLE [dbo].[ChungThucTra] CHECK CONSTRAINT [FK_SoCaBiet]
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NXB] ([MaNXB])
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TacGia] ([MaTacGia])
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [FK_SoThe] FOREIGN KEY([SoThe])
REFERENCES [dbo].[TheThuVien] ([ID_The])
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [FK_SoThe]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_IdNhanVien_PhieuMuon] FOREIGN KEY([IdNhanVien])
REFERENCES [dbo].[NhanVien] ([IDNhanVien])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_IdNhanVien_PhieuMuon]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_SoThe_PhieuMuon] FOREIGN KEY([SoThe])
REFERENCES [dbo].[TheThuVien] ([ID_The])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_SoThe_PhieuMuon]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[DauSach] ([MaSach])
GO
ALTER TABLE [dbo].[TheThuVien]  WITH CHECK ADD  CONSTRAINT [FK_IDNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([IDNhanVien])
GO
ALTER TABLE [dbo].[TheThuVien] CHECK CONSTRAINT [FK_IDNhanVien]
GO
USE [master]
GO
